

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 150px;
    /* making the symbol slightly smaller than the grid cell */
    --mark-size: calc(var(--cell-size) * 0.9)
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Comfortaa', futura;
}



h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
}


.cell {
    /* width: 100px;
    height: 100px; */
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    
}

/* removing the outside border of the grid */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n+3) {
    border-right: none;   
}
.cell:nth-child(9), .cell:nth-child(8), .cell:nth-child(7) {
    border-bottom: none;
}
.cell:nth-child(3n+1) {
    border-left: none;   
}


/* X Symbol */
.cell.x::before, 
.cell.x::after, 
.grid.x .cell:not(.x):not(.o):hover::before,
.grid.x .cell:not(.x):not(.o):hover::after  {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: white;
}

.cell.x::before,
.grid.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.grid.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}


/*  o symbol */
.cell.o::before,
.cell.o::after,
.grid.o .cell:not(.x):not(.o):hover::before,
.grid.o .cell:not(.x):not(.o):hover::after  {
    content: '';
    position: absolute;
    border-radius: 50%;    
}

/* larger circle i.e. "outside" circle */
.cell.o::before,
.grid.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size)* 0.9);
    height: calc(var(--mark-size)* 0.9);
    
}

/* slightly smaller circle i.e. "inside" circle */
.cell.x::before,
.cell.x::after,
.cell.o::before  {
    background-color: white;
}

/* preview symbol when user hovers over empty cell */
.grid.x .cell:not(.x):not(.o):hover::before,
.grid.x .cell:not(.x):not(.o):hover::after,
.grid.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(47, 47, 47);
}

.cell.o::before,
.grid.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size)* 0.9);
    height: calc(var(--mark-size)* 0.9);
    
}

.cell.o::after,
.grid.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)* 0.6);
    height: calc(var(--mark-size)* 0.6);
    background-color: black;
}

/* when cursor moves over cell that already has an x or o it changes to signal to user that cell is not available */
.cell.x, .cell.o {
    cursor: not-allowed;
}

.message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(57, 84, 51, 0.9); */
    background-color: rgba(59, 82, 53, 0.9);
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 5rem;
    flex-direction: column;
}

.message .btn {
    font-size: 2.5rem;
    font-family: 'Comfortaa', futura;
    background-color: rgb(164, 197, 153);
    border: 3px solid rgb(40, 61, 35);
    color:  rgb(40, 61, 35);
    padding: .25em .5em;
    cursor: pointer;
} 

.message .btn:hover {
    background-color: rgb(40, 61, 35);
    border: 3px solid rgb(164, 197, 153);
    color: rgb(164, 197, 153);
}

.message.display {
    display: flex;
    
}